{% load static%}

<!DOCTYPE html>
<html>

<head>
	<!-- here linking css and js files -->
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:400'%}" rel="stylesheet" />    
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
	<link href="{% static 'css/list.css' %}" rel="stylesheet" />
    <link href="{% static 'css/all.min.css'%}" rel="stylesheet" />
	<link href="{% static 'css/lightbox.min.css'%}" rel="stylesheet"/>
	<script src="{% static 'js/lightbox-plus-jquery.min.js'%}" rel="stylesheet" type="text/javascript"></script>
</head>

<body> 

	<div class="container">
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/main.png'%}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">ABC COMPANY</h1>
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="home.html" class="tm-nav-link active">Home</a></li>
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link">Viwe Employee</a></li>
								<li class="tm-nav-li"><a href="register.html" class="tm-nav-link active">Add Employee</a></li>
								<li class="tm-nav-li"><a href="login.html" class="tm-nav-link">Logout</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Welcome to ABC </h2>
			
				<br><br>
				<h2 class="col-12 text-center tm-section-title">OUR EMPLOYEE'S </h2>
			</header>
			<!-- card view of employee -->
			<div class="container tm-container-inner-2">

				<div class="row justify-content-center m-2">
					<!-- loop for data fetching -->
					{% for emp in em %}
						<!-- listing employee of abc company -->
						<div class="col-md-4">
							<div class="card text-center " style="width: 15rem; height: 30rem; box-shadow: 4px 4px #c291fa; border-radius: 25px 15px;">
								<a href="{{emp.image.url}}" data-lightbox="gallery"><img src="{{ emp.image.url }}" style="height: 300px; width: 200px;"  class="card-img-top" alt="..."></a>
								<div class="card-body">
									<h2 style="font-size: 17px;" class="card-title mt-1">{{ emp.name }}</h2><br>
									<a href="{{emp.email}}"><i class="fas fa-envelope tm-contact-icon"></i><h4 style="color: rgb(16, 52, 107)" class="card-subtitle mt-1">{{ emp.email }}</a></h4><br>
									<a href="tel:{{emp.phone}}"><i class="fas fa-phone tm-contact-icon"></i><p class="tm-gallery-price">{{emp.phone}}</p></a>
									<hr>	                
								</div>
							</div>
						</div>

					{% endfor %}
					<!-- end of loop -->
				</div>
			</div>
			</main>
		</div>
	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script>
		$(document).ready(function(){
			// Handle click on paging links
			$('.tm-paging-link').click(function(e){
				e.preventDefault();
				
				var page = $(this).text().toLowerCase();
				$('.tm-gallery-page').addClass('hidden');
				$('#tm-gallery-page-' + page).removeClass('hidden');
				$('.tm-paging-link').removeClass('active');
				$(this).addClass("active");
			});
		});
	</script>
</body>
</html>

